<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <title>Projeto PW Index</title>
    <link rel ="stylesheet" href ="public/style.css">
        
    </style>
</head>

<body>
    <header>
        <h1 >
            <a href = "index.html">Receitas da Avozinha</a>
        </h1>
        <button id = "submitPost">Inserir Receita</button>
        <button onclick="location.href = 'login.html'" id = "login">Log In</button>
        <button onclick="location.href = 'register.html'" id = "reg">Registrar</button>
    </header>
    <article>
        <div id = PostViewer>
            <canvas id = "postVRect" ></canvas>
            <h1 id = "creatorTitle"> Insera a sua Receitas</h1>
            <img src="image.jpg" alt="Post Image">
        </div>
        <div id = "Comments">
            <canvas id = "commentBox"></canvas>
            <h1 id = "creatorTitle"> Comentário </h1><h1></h1>>

        </div>

    </article>

    <footer>
        <p>footer info goes here</p>
    </footer> 